* {
    margin: 0;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    
  }
.img{
  width: 75px;
  height:60px;
}
.box {
	width: 750px;
  height:500px;
	background: rgba(0, 0, 0, 0.3);
	padding: 50px;
	text-align: center;
	margin: auto;
	margin-top: 5%;	
}

